@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolly::-webkit-scrollbar {
    display: none;
}

.animo {
    @apply hover:duration-500
}

.butanimo {
    @apply active:lg:scale-75 hover:-rotate-2 transition-all lg:hover:scale-110
}